h1 {
    font-family: 'Shippori Antique B1', sans-serif;
    color: darkblue;

}

h3{
    font-family: 'Shippori Antique B1', sans-serif;
    color: darkblue;
    text-decoration: underline;
}

p {
    font-family: 'Shippori Antique B1', sans-serif;
    color: gray;
}